/* line 274, menu-logado/*.png */
.menu-logado-sprite, .menu-logado-dominios-md, .menu-logado-dominios-sm, .menu-logado-dominios, .menu-logado-epp-md, .menu-logado-epp-sm, .menu-logado-epp, .menu-logado-numeracao-md, .menu-logado-numeracao-sm, .menu-logado-numeracao, .menu-logado-pagamento-md, .menu-logado-pagamento-sm, .menu-logado-pagamento, .menu-logado-titularidade-md, .menu-logado-titularidade-sm, .menu-logado-titularidade, li:hover .menu-logado-dominios, li:hover .menu-logado-epp, li:hover .menu-logado-numeracao, li:hover .menu-logado-pagamento, li:hover .menu-logado-titularidade, li.active .menu-logado-dominios, li.active .menu-logado-epp, li.active .menu-logado-numeracao, li.active .menu-logado-pagamento, li.active .menu-logado-titularidade, li:hover .menu-logado-dominios-md, li:hover .menu-logado-epp-md, li:hover .menu-logado-numeracao-md, li:hover .menu-logado-pagamento-md, li:hover .menu-logado-titularidade-md, li.active .menu-logado-dominios-md, li.active .menu-logado-epp-md, li.active .menu-logado-numeracao-md, li.active .menu-logado-pagamento-md, li.active .menu-logado-titularidade-md, li:hover .menu-logado-dominios-sm, li:hover .menu-logado-epp-sm, li:hover .menu-logado-numeracao-sm, li:hover .menu-logado-pagamento-sm, li:hover .menu-logado-titularidade-sm, li.active .menu-logado-dominios-sm, li.active .menu-logado-epp-sm, li.active .menu-logado-numeracao-sm, li.active .menu-logado-pagamento-sm, li.active .menu-logado-titularidade-sm {
  background: url('/img/menu-logado-s883bcb5e9d.png') no-repeat;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-dominios-md {
  background-position: 0 -1145px;
  height: 44px;
  width: 62px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-dominios-sm {
  background-position: 0 -1402px;
  height: 18px;
  width: 25px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-dominios {
  background-position: 0 -1082px;
  height: 63px;
  width: 89px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-epp-md {
  background-position: 0 -651px;
  height: 53px;
  width: 34px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-epp-sm {
  background-position: 0 -1216px;
  height: 30px;
  width: 20px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-epp {
  background-position: 0 -337px;
  height: 76px;
  width: 49px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-numeracao-md {
  background-position: 0 -528px;
  height: 47px;
  width: 47px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-numeracao-sm {
  background-position: 0 -1189px;
  height: 27px;
  width: 27px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-numeracao {
  background-position: 0 -68px;
  height: 67px;
  width: 67px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-pagamento-md {
  background-position: 0 -480px;
  height: 48px;
  width: 48px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-pagamento-sm {
  background-position: 0 -846px;
  height: 27px;
  width: 27px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-pagamento {
  background-position: 0 0;
  height: 68px;
  width: 68px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-titularidade-md {
  background-position: 0 -704px;
  height: 47px;
  width: 47px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-titularidade-sm {
  background-position: 0 -1246px;
  height: 27px;
  width: 27px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-logado-titularidade {
  background-position: 0 -135px;
  height: 67px;
  width: 67px;
}

/* line 6, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-dominios {
  background-position: 0 -873px;
  height: 64px;
  width: 89px;
}
/* line 7, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-epp {
  background-position: 0 -575px;
  height: 76px;
  width: 49px;
}
/* line 8, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-numeracao {
  background-position: 0 -202px;
  height: 67px;
  width: 67px;
}
/* line 9, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-pagamento {
  background-position: 0 -269px;
  height: 68px;
  width: 68px;
}
/* line 10, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-titularidade {
  background-position: 0 -413px;
  height: 67px;
  width: 67px;
}

/* line 6, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-dominios {
  background-position: 0 -873px;
  height: 64px;
  width: 89px;
}
/* line 7, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-epp {
  background-position: 0 -575px;
  height: 76px;
  width: 49px;
}
/* line 8, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-numeracao {
  background-position: 0 -202px;
  height: 67px;
  width: 67px;
}
/* line 9, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-pagamento {
  background-position: 0 -269px;
  height: 68px;
  width: 68px;
}
/* line 10, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-titularidade {
  background-position: 0 -413px;
  height: 67px;
  width: 67px;
}

/* line 24, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-dominios-md {
  background-position: 0 -1037px;
  height: 45px;
  width: 62px;
}
/* line 25, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-epp-md {
  background-position: 0 -937px;
  height: 53px;
  width: 34px;
}
/* line 26, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-numeracao-md {
  background-position: 0 -799px;
  height: 47px;
  width: 47px;
}
/* line 27, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-pagamento-md {
  background-position: 0 -751px;
  height: 48px;
  width: 48px;
}
/* line 28, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-titularidade-md {
  background-position: 0 -990px;
  height: 47px;
  width: 47px;
}

/* line 24, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-dominios-md {
  background-position: 0 -1037px;
  height: 45px;
  width: 62px;
}
/* line 25, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-epp-md {
  background-position: 0 -937px;
  height: 53px;
  width: 34px;
}
/* line 26, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-numeracao-md {
  background-position: 0 -799px;
  height: 47px;
  width: 47px;
}
/* line 27, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-pagamento-md {
  background-position: 0 -751px;
  height: 48px;
  width: 48px;
}
/* line 28, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-titularidade-md {
  background-position: 0 -990px;
  height: 47px;
  width: 47px;
}

/* line 42, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-dominios-sm {
  background-position: 0 -1384px;
  height: 18px;
  width: 25px;
}
/* line 43, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-epp-sm {
  background-position: 0 -1327px;
  height: 30px;
  width: 20px;
}
/* line 44, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-numeracao-sm {
  background-position: 0 -1300px;
  height: 27px;
  width: 27px;
}
/* line 45, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-pagamento-sm {
  background-position: 0 -1273px;
  height: 27px;
  width: 27px;
}
/* line 46, ../sass/sprite-menu-logado.scss */
li:hover .menu-logado-titularidade-sm {
  background-position: 0 -1357px;
  height: 27px;
  width: 27px;
}

/* line 42, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-dominios-sm {
  background-position: 0 -1384px;
  height: 18px;
  width: 25px;
}
/* line 43, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-epp-sm {
  background-position: 0 -1327px;
  height: 30px;
  width: 20px;
}
/* line 44, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-numeracao-sm {
  background-position: 0 -1300px;
  height: 27px;
  width: 27px;
}
/* line 45, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-pagamento-sm {
  background-position: 0 -1273px;
  height: 27px;
  width: 27px;
}
/* line 46, ../sass/sprite-menu-logado.scss */
li.active .menu-logado-titularidade-sm {
  background-position: 0 -1357px;
  height: 27px;
  width: 27px;
}
