/* line 626, images/*.png */

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-CONTATO-correspondencia {
  background-position: 0 -1787px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-CONTATO-email {
  background-position: 0 -1576px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-CONTATO-telefone {
  background-position: 0 -1405px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-browser {
  background-position: 0 -1266px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-calendario {
  background-position: 0 -2018px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-estatisticas {
  background-position: 0 -1038px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-faq {
  background-position: 0 -587px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-formulario {
  background-position: 0 -966px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-formulariopreencher {
  background-position: 0 -623px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-fotos {
  background-position: 0 -1074px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-linkexterno {
  background-position: 0 -291px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-livro_download {
  background-position: 0 -791px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-palestras {
  background-position: 0 -659px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-pdf {
  background-position: 0 -695px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-slide {
  background-position: 0 -1170px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-tutorial {
  background-position: 0 -930px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-TEXTO-video {
  background-position: 0 -1002px;
  height: 36px;
  width: 36px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-autonomous {
  background-position: 0 -1863px;
  height: 32px;
  width: 32px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-contato-cobranca {
  background-position: 0 -1642px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-contato-tecnico {
  background-position: 0 -2079px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-contato-titularidade {
  background-position: 0 -2219px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-curso {
  background-position: 0 -1524px;
  height: 52px;
  width: 52px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-dns {
  background-position: 0 -2306px;
  height: 28px;
  width: 33px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-doc-pdf {
  background-position: 0 -151px;
  height: 70px;
  width: 70px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-doc-print {
  background-position: 0 -221px;
  height: 70px;
  width: 70px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-dominio-branco {
  background-position: 0 -2467px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-dominio-cinza {
  background-position: 0 -2334px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-dominio-fisica {
  background-position: 0 -3028px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-dominio-generico {
  background-position: 0 -2908px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-dominio-juridica {
  background-position: 0 -2842px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-dominio-profliberal {
  background-position: 0 -2988px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-dominio-univercidade {
  background-position: 0 -2948px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-epp-branco {
  background-position: 0 -1345px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-epp-cinza {
  background-position: 0 -1206px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-eventos {
  background-position: 0 -2169px;
  height: 50px;
  width: 50px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-foraAar {
  background-position: 0 -1938px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-genericos {
  background-position: 0 -1302px;
  height: 43px;
  width: 43px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-gerar-token {
  background-position: 0 -495px;
  height: 32px;
  width: 32px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-gerenciamentoConta {
  background-position: 0 -2762px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-menu-contato-pagamento_branco {
  background-position: 0 -2527px;
  height: 25px;
  width: 25px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-menu-contato-pagamento_cinza {
  background-position: 0 -1672px;
  height: 25px;
  width: 25px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-menu-contato-tecnico_branco {
  background-position: 0 -2552px;
  height: 25px;
  width: 25px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-menu-contato-tecnico_cinza {
  background-position: 0 -2054px;
  height: 25px;
  width: 25px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-menu-contato-titularidade_branco {
  background-position: 0 -2577px;
  height: 25px;
  width: 25px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-menu-contato-titularidade_cinza {
  background-position: 0 -2249px;
  height: 25px;
  width: 25px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-noticias {
  background-position: 0 -347px;
  height: 86px;
  width: 86px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-novoDominio {
  background-position: 0 -2722px;
  height: 40px;
  width: 40px;
}
/* line 43, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-novoDominio:hover, .images-ico-novoDominio.ico-novoDominio_hover, .images-ico-novoDominio.ico-novoDominio-hover {
  background-position: 0 -1823px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-numeracao-branco {
  background-position: 0 -731px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-numeracao-cinza {
  background-position: 0 -527px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-pagamento-branco {
  background-position: 0 -2109px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-pagamento-cinza {
  background-position: 0 -1697px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-pagamentoDominio {
  background-position: 0 -1978px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-pessoa {
  background-position: 0 -433px;
  height: 62px;
  width: 62px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-pfisica {
  background-position: 0 -2394px;
  height: 43px;
  width: 43px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-pjuridica {
  background-position: 0 -827px;
  height: 43px;
  width: 43px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-problemasConta {
  background-position: 0 -1484px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-procedimentosAdministrativos {
  background-position: 0 -2802px;
  height: 40px;
  width: 40px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-profliberais {
  background-position: 0 -1895px;
  height: 43px;
  width: 43px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-provedor-servicos {
  background-position: 0 -2274px;
  height: 32px;
  width: 32px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-seguranca {
  background-position: 0 0;
  height: 86px;
  width: 86px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-tit-alterardadosdaconta {
  background-position: 0 -1757px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-tit-autonomoussystems {
  background-position: 0 -1612px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-tit-contato {
  background-position: 0 -2632px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-tit-dadosdotitular {
  background-position: 0 -2662px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-tit-dns {
  background-position: 0 -2602px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-tit-provedordeservicos {
  background-position: 0 -2437px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-tit-token {
  background-position: 0 -2692px;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-titularidade-branco {
  background-position: 0 -1110px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-titularidade-cinza {
  background-position: 0 -870px;
  height: 60px;
  width: 60px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-token {
  background-position: 0 -2882px;
  height: 26px;
  width: 26px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-triangulo {
  background-position: 0 -86px;
  height: 65px;
  width: 86px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-ico-universidades {
  background-position: 0 -1441px;
  height: 43px;
  width: 43px;
}

/* line 60, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.images-rss {
  background-position: 0 -327px;
  height: 20px;
  width: 20px;
}
